@import './var';

// @tailwind base; //按钮白色bug
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind utilities;

.test {
	position: relative;
	background-color: $primary-color;
	border: 1px solid #000;
}
